<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"> </script>
    <script src="js/money.js"></script>
</head>
<body ng-app="money" ng-controller="MoneyController">
    <div align="center" ng-controller="getMoney" ng-show="moneyList.length > 0">
        <h1>Коллекционирование монет</h1>

        <table>
            <tr>
                <th colspan="2">Монета</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Название монеты</th>
            </tr>
            <tr ng-repeat="i in moneyList" id="{{i.id}}">
                <td>{{i.name}}</td>
                <td></td>
                <td>{{i.cost}}</td>
                <td>{{i.count}}</td>
                <td><input type="button" value="Удалить" ng-click="deleteMoney(i.id)"></td>
            </tr>
        </table>

        <h2>Добавление данных</h2>
        <form ng-submit="addMoney(price,count,name)">
            <input type="number" placeholder="Цена" ng-model="price"/><br><br>
            <input type="number" placeholder="Количество" ng-model="count"/><br><br>
            <input type="text"  placeholder="Название" ng-model="name"/><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>