<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>5 работа</title>
</head>
<body>
<div>
    <div align="center">
        <h1 th:text="#{money5.title}">Заголовок локализованный</h1>
        <table>
            <tr>
                <th colspan="2">Монета</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="i : ${AllMoney}">
                <td th:text=${i.name}></td>
                <td></td>
                <td th:text=${i.cost}></td>
                <td th:text=${i.count}></td>
                <td>
                    <form th:action="@{/money/__${i.id}__}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div align="center">
        <h2>Добавление данных</h2>
        <form action="#" th:action="@{/money}" method="post" name="add" th:object="${AddMoney}">
            <label>Название:</label>
            <input type="text" th:field="*{name}"/><br><br>
            <label>Цена:</label>
            <input type="number"  th:field="*{cost}"/><br><br>
            <label>Количество:</label>
            <input type="number" th:field="*{count}"/><br><br>
            <button type="submit">Add</button>
        </form>
    </div>
</div>
</body>
</html>