<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"></meta>
    <title>Title</title>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"> </script>
    <script src="js/money.js"></script>
</head>
<body ng-app="money" ng-controller="MoneyController">
    <div sec:authorize="isAuthenticated()">
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <div align="center" ng-controller="getMoney" ng-show="moneyList.length > 0">
            <h1>Коллекционирование монет</h1>
            <table>
                <tr>
                    <th colspan="2">Монета</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Название монеты</th>
                </tr>
                <tr ng-repeat="i in moneyList" id="{{i.id}}">
                    <td>{{i.name}}</td>
                    <td></td>
                    <td>{{i.cost}}</td>
                    <td>{{i.count}}</td>
                    <td><input type="button" value="Удалить" ng-click="deleteMoney(i.id)"></td>
                </tr>
            </table>
        </div>

        <div align="center">
            <div ng-show="errormessage">{{errormessage}}</div>
            <h2>Добавление данных</h2>
            <form ng-submit="addMoney(price,count,name)">
                <input type="text"  placeholder="Название" ng-model="name"/><br><br>
                <input type="number" placeholder="Цена" ng-model="price"/><br><br>
                <input type="number" placeholder="Количество" ng-model="count"/><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>